<config>
    <modules>
        <Bhargav_Idx>
            <version>0.2.0</version>                
        </Bhargav_Idx>
    </modules>
    <frontend>
        <routers>
            <idx>
                <use>standard</use>
                <args>
                    <module>Bhargav_Idx</module>
                    <frontName>idx</frontName>
                </args>
            </idx>  
        </routers>
        <layout>
            <updates>
                <idx>
                    <file>idx.xml</file>
                </idx>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <brand_save_after>
                <observers>
                    <brand>
                        <class>Bhargav_Brand_Model_Observer</class>
                        <method>saveRewriteUrlKey</method>
                    </brand>
                </observers>
            </brand_save_after>
        </events>
        <resources>
            <idx_setup>
                <setup>
                    <module>Bhargav_Idx</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </idx_setup>
            <idx_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </idx_write>
            <idx_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </idx_read>
        </resources>
        <models>
            <idx>
                <class>Bhargav_Idx_Model</class>
                <resourceModel>idx_resource</resourceModel>
            </idx>
            <idx_resource>
                <class>Bhargav_Idx_Model_Resource</class>
                <entities>
                    <idx>
                        <table>import_product_idx</table>
                    </idx>
                </entities>
            </idx_resource>
        </models>
        <blocks>
            <idx>
                <class>Bhargav_Idx_Block</class>
            </idx>
        </blocks>
        <helpers>
            <idx>
                <class>Bhargav_Idx_Helper</class>
            </idx>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <idx>
                <use>admin</use>
                <args>
                    <module>Bhargav_Idx</module>
                    <frontName>idx</frontName>
                </args>
            </idx>
        </routers>
  </admin>
  
</config>
