<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Bhargav_Bhargav>
			<version>0.0.3</version>
		</Bhargav_Bhargav>
	</modules>
	<global>
		<blocks>
			<bhargav>
				<class>Bhargav_Bhargav_Block</class>
			</bhargav>
		</blocks>
		<helpers>
			<bhargav>
				<class>Bhargav_Bhargav_Helper</class>
			</bhargav>
		</helpers>
		<models>
			<bhargav>
				<class>Bhargav_Bhargav_Model</class>
				<resourceModel>bhargav_resource</resourceModel>
			</bhargav>
			<bhargav_resource>
				<class>Bhargav_Bhargav_Model_Resource</class>
				<entities>
	                <bhargav>
	                    <table>bhargav</table>
	                </bhargav>
	                <bhargav_datetime>
	                	<table>bhargav_datetime</table>
		            </bhargav_datetime>
		            <bhargav_decimal>
		                <table>bhargav_decimal</table>
		            </bhargav_decimal>
		            <bhargav_int>
		                <table>bhargav_int</table>
		            </bhargav_int>
		            <bhargav_text>
		                <table>bhargav_text</table>
		            </bhargav_text>
		            <bhargav_varchar>
		                <table>bhargav_varchar</table>
		            </bhargav_varchar>
		            <bhargav_char>
		                <table>bhargav_char</table>
		            </bhargav_char>
		            <eav_attribute>
                        <table>bhargav_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</bhargav_resource>
		</models>
		<resources>
			<bhargav_setup>
				<setup>
					<module>Bhargav_Bhargav</module>
					<class>Bhargav_Bhargav_Model_Resource_Setup</class>
				</setup>
			</bhargav_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<bhargav>
				<title>Bhargav</title>
				<sort_order>120</sort_order>
				<children>
					<bhargav>
						<title>Manage Bhargav</title>
						<sort_order>100</sort_order>
						<action>bhargav/Adminhtml_bhargav</action>
					</bhargav>
					<bhargav_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>bhargav/Adminhtml_Bhargav_Attribute</action>
					</bhargav_attribute>
					<bhargav_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>bhargav/Adminhtml_Bhargav_Set</action>
					</bhargav_set>
				</children>
			</bhargav>
		</menu>
		<layout>
			<updates>
				<bhargav>
					<file>bhargav.xml</file>
				</bhargav>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<bhargav>
				<use>admin</use>
				<args>
					<module>Bhargav_Bhargav</module>
					<frontName>bhargav</frontName>
				</args>
			</bhargav>
		</routers>
	</admin>
</config>