<config>
    <modules>
        <Bhargav_Bhargav>
            <version>0.5.0</version>                
        </Bhargav_Bhargav>
    </modules>
    <frontend>
        <routers>
            <bhargav>
                <use>standard</use>
                <args>
                    <module>Bhargav_Bhargav</module>
                    <frontName>bhargav</frontName>
                </args>
            </bhargav>
        </routers>
        <layout>
            <updates>
                <bhargav>
                    <file>bhargav.xml</file>
                </bhargav>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <bhargav_setup>
                <setup>
                    <module>Bhargav_Bhargav</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bhargav_setup>
            <bhargav_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bhargav_write>
            <bhargav_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bhargav_read>
        </resources>
        <resources>
            <bhargav_setup>
                <setup>
                    <module>Bhargav_Bhargav</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bhargav_setup>
            <bhargav_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bhargav_write>
            <bhargav_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bhargav_read>
        </resources>
        <models>
            <bhargav>
                <class>Bhargav_Bhargav_Model</class>
                <resourceModel>bhargav_resource</resourceModel>
            </bhargav>
            <bhargav_resource>
                <class>Bhargav_Bhargav_Model_Resource</class>
                <entities>
                    <bhargav>
                        <table>bhargav</table>
                    </bhargav>
                    <bhargav_address>
                        <table>bhargav_address</table>
                    </bhargav_address>  
                </entities>
            </bhargav_resource>
        </models>
        <!-- <resources>
             <bhargav_setup>
                 <setup>
                    <module>Bhargav_Bhargav</module>
                 </setup>
             </bhargav_setup>
        </resources> 
        <bhargav_write>
            <connection>
                <use>core_write</use>
            </connection>
        </bhargav_write>

        <bhargav_read>
            <connection>
                <use>core_read</use>
            </connection>
        </bhargav_read> -->
        <blocks>
            <bhargav>
                <class>Bhargav_Bhargav_Block</class>
            </bhargav>
        </blocks>
        <helpers>
            <bhargav>
                <class>Bhargav_Bhargav_Helper</class>
            </bhargav>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bhargav_bhargav before="Mage_Adminhtml">Bhargav_Bhargav_Adminhtml</bhargav_bhargav>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  
</config>
