<config>
    <modules>
        <Ccc_Test>
            <version>1.0.5</version>                
        </Ccc_Test>
    </modules>
    <frontend>
        <routers>
            <test>
                <use>standard</use>
                <args>
                    <module>Ccc_Test</module>
                    <frontName>test</frontName>
                </args>
            </test>
        </routers>
        <layout>
            <updates>
                <test>
                    <file>test.xml</file>
                </test>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <test_setup>
                <setup>
                    <module>Ccc_Test</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </test_setup>
        </resources>
        <models>
            <test>
                <class>Ccc_Test_Model</class>
                <resourceModel>test_resource</resourceModel>
            </test>
            <test_resource>
                <class>Ccc_Test_Model_Resource</class>
                <entities>
                    <test>
                        <table>test</table>
                    </test>
                </entities>
            </test_resource>
        </models>
        <blocks>
            <test>
                <class>Ccc_Test_Block</class>
            </test>
        </blocks>
        <helpers>
            <test>
                <class>Ccc_Test_Helper</class>
            </test>
        </helpers>
    </global>
    <!-- <admin>
        <routers>
            <test>
                <use>admin</use>
                <args>
                    <module>Ccc_Test</module>
                    <frontName>test</frontName>
                </args>
            </test>
        </routers>
    </admin> -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Test before="Mage_Adminhtml">Ccc_Test_Adminhtml</Ccc_Test>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
