<config>
    <modules>
        <Ccc_Practice>
            <version>0.2.0</version>                
        </Ccc_Practice>
    </modules>
    <frontend>
        <routers>
            <practice>
                <use>standard</use>
                <args>
                    <module>Ccc_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </practice>
        </routers>
    </frontend>
    <export_ccc>
        <columns>
            <sku>SKU</sku>
            <type_id>Type Id</type_id>
        </columns>
        <filters>
            <sku>
                <operator>neq</operator>
                <value>product1</value>
            </sku>
            <type_id>
                <operator>eq</operator>
                <value>simple</value>
            </type_id>
        </filters>
    </export_ccc>
    <global>
        <models>
            <practice>
                <class>Ccc_Practice_Model</class>
                <resourceModel>practice_resource</resourceModel>
            </practice>
            <practice_resource>
                <class>Ccc_Practice_Model_Resource</class>
                <entities>
                    <practice>
                        <table>practice</table>
                    </practice>
                </entities>
            </practice_resource>
        </models>
        <resources>
            <practice_setup>
                <setup>
                    <module>Ccc_Practice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </practice_setup>
        </resources>
        <helpers>
            <practice>
                <class>Ccc_Practice_Helper</class>
            </practice>
        </helpers>
        <blocks>
            <practice>
                <class>Ccc_Practice_Block</class>
            </practice>
        </blocks>
    </global>
    <admin>
        <routers>
            <practice>
                <use>admin</use>
                <args>
                    <module>Ccc_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </practice>
        </routers>
    </admin>
</config>
