<config>
    <modules>
        <Bhargav_Eavmgmt>
            <version>0.2.0</version>                
        </Bhargav_Eavmgmt>
    </modules>
    <frontend>
        <routers>
            <eavmgmt>
                <use>standard</use>
                <args>
                    <module>Bhargav_Eavmgmt</module>
                    <frontName>eavmgmt</frontName>
                </args>
            </eavmgmt>
        </routers>
        <layout>
            <updates>
                <eavmgmt>
                    <file>eavmgmt.xml</file>
                </eavmgmt>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <eavmgmt_setup>
                <setup>
                    <module>Bhargav_Eavmgmt</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eavmgmt_setup>
            <eavmgmt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eavmgmt_write>
            <eavmgmt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eavmgmt_read>
        </resources>
        <resources>
            <eavmgmt_setup>
                <setup>
                    <module>Bhargav_Eavmgmt</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eavmgmt_setup>
            <eavmgmt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eavmgmt_write>
            <eavmgmt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eavmgmt_read>
        </resources>
        <models>
            <eavmgmt>
                <class>Bhargav_Eavmgmt_Model</class>
                <resourceModel>eavmgmt_resource</resourceModel>
            </eavmgmt>
            <eavmgmt_resource>
                <class>Bhargav_Eavmgmt_Model_Resource</class>
                <entities>
                    <eavmgmt>
                        <table>eavmgmt</table>
                    </eavmgmt>
                    <eavmgmt_address>
                        <table>eavmgmt_address</table>
                    </eavmgmt_address>  
                </entities>
            </eavmgmt_resource>
        </models>
        <!-- <resources>
             <eavmgmt_setup>
                 <setup>
                    <module>Bhargav_Eavmgmt</module>
                 </setup>
             </eavmgmt_setup>
        </resources> 
        <eavmgmt_write>
            <connection>
                <use>core_write</use>
            </connection>
        </eavmgmt_write>

        <eavmgmt_read>
            <connection>
                <use>core_read</use>
            </connection>
        </eavmgmt_read> -->
        <blocks>
            <eavmgmt>
                <class>Bhargav_Eavmgmt_Block</class>
            </eavmgmt>
        </blocks>
        <helpers>
            <eavmgmt>
                <class>Bhargav_Eavmgmt_Helper</class>
            </eavmgmt>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_eavmgmt before="Mage_Adminhtml">Bhargav_Eavmgmt_Adminhtml</ccc_eavmgmt>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  
</config>
