<config>
    <modules>
        <Bhargav_Brand>
            <version>0.3.0</version>                
        </Bhargav_Brand>
    </modules>
    <frontend>
        <routers>
            <brand>
                <use>standard</use>
                <args>
                    <module>Bhargav_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
        <layout>
            <updates>
                <brand module="Bhargav_Brand">
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <brand_setup>
                <setup>
                    <module>Bhargav_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <models>
            <brand>
                <class>Bhargav_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Bhargav_Brand_Model_Resource</class>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                </entities>
            </brand_resource>
        </models>
        <blocks>
            <brand>
                <class>Bhargav_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
            <brand>
                <class>Bhargav_Brand_Helper</class>
            </brand>
            <bhargav>
                <class>Bhargav_Brand_Helper</class>
            </bhargav>
        </helpers>
    </global>
    <admin>
        <routers>
            <bhargav>
                <use>admin</use>
                <args>
                    <module>Bhargav_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </bhargav>
        </routers>
    </admin>
  
</config>
