<config>
	<modules>
		<ccc_firstModule>
			<version>0.0.1</version>
		</ccc_firstModule>
	</modules>
	<global>
		<events>
			<models>
				<ccc_firstmodule>
					<class>ccc_firstmodule_model</class>
				</ccc_firstmodule>
			</models>
			<catalog_product_save_after>
				<observers>
					<ccc_firstmodule>
						<class>ccc_firstmodule/observer</class>
						<method>logUpdate</method>
						<type>singleton</type>
					</ccc_firstmodule>
				</observers>
			</catalog_product_save_after>
		</events>
	</global>
</config>